export SQS_Q_NAME=<>
export SQS_Q_REGION=<>
export AWS_S3_REGION=ap-south-1
export DB_CONN_URL=jdbc:mysql://localhost:3306
export DB_USER=<>
export DB_PWD=<>
export AWS_ACCESS_KEY_ID=<>         # only for local
export AWS_SECRET_ACCESS_KEY=<>     # only for local
export TRANSCODER_PIPELINE_ID=<>
